.form{
  margin: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: linear-gradient(135deg, #89a0fe, #66adff);
  font-family: "Poppins", sans-serif;

}
.usermail{

}
.password{

}
.userRole{

}
.submitBtn{

}